{{#each this}}
  <li class='library-section__item'>
    <a class='library-section__card' href='#'>
      <img
        class='library-section__card-img'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='alt'
        data-id='{{id}}'
      />
      <div class='library-section__card-info'>
        <h2 class='library-section__card-title'>{{title}}</h2>
        <p class='library-section__card-description'>
          <span class='library-section__card-genre'>{{genre_ids}}</span>
          <span class='library-section__card-genredelimiter'>|</span>
          <span class='library-section__card-year'>{{release_date}}</span>
          <span class='library-section__card-rating'>{{vote_average}}</span>
        </p>
      </div>
    </a>
  </li>
{{/each}}