featch_class-for-card-film
{{#each this}}
  <li class='card'>
    <img
      class='card__img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
    />
    <h2 class='card__title'>{{title}}</h2>
    <span class='card__genres'>{{#each genres}} {{name}} {{/each}}</span>
    |
    <span class='card__year'>{{release_date}}</span>
  </li>
{{/each}}

