{{#each this}}
    {{#if poster_path}}

    <img
      class='card__img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      data-id='{{id}}'
    />
    {{else}}
        <img class='card__img' src='http://cdn.differencebetween.net/wp-content/uploads/2019/12/Difference-Between-Film-and-Movie--768x497.jpg' alt='{{title}}' />
      {{/if}}
    <h2 class='card__title'>{{title}}</h2>
    
  <div class="card__data">
      {{#if filmGenres}}<span class='card__genres'>{{filmGenres}}</span>{{else}}<p class='card__undefined'>N/A</p>{{/if}}
      
      {{#if filmDate}}<span class='card__year'> | {{filmDate}}</span>{{else}}<p class='card__undefined'>| N/A</p>{{/if}}
  </div>


  </li>
{{/each}}