{{#each this}}
  <li class='film_card'>
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}' />
    <h2 class='film__title'>{{title}}</h2>
    <span>{{#each genre_ids}} {{name}} {{/each}}</span>
    <span>{{release_date}}</span>
  </li>
{{/each}}